In [82]:
#importing dependencies
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [83]:
df=pd.read_csv('creditcard.csv')

In [84]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [85]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [133]:
df.isnull().sum()  #here if there will be missing value then deal them with imputation (mean , median , mode),or by drop

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [88]:
#DISTRIBUTION OF LEGIT AND FRAUDULENT TRANSACTION

In [89]:
df['Class'].value_counts() #WHICH IS highly unbalanced dataset

0    284315
1       492
Name: Class, dtype: int64

In [90]:
legit=df[df.Class==0]
fraud=df[df.Class==1]

In [91]:
print(legit.shape)

(284315, 31)

In [92]:
print(fraud.shape)

(492, 31)

In [93]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [94]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [95]:
df.groupby('Class').mean()  #comparing both values for both transaction

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [96]:
#under sampling , building a sample containing similar datasets in legit and fraud transactoin

#here will take 492 random legit transation data and will concatenating with fraud data

In [97]:
legit_sample=legit.sample(n=492)

In [98]:
#concantenating two datas

In [99]:
new_dataset=pd.concat([legit_sample,fraud], axis=0)

In [100]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
159332,112407.0,-1.285582,1.018118,1.478848,-1.048170,0.730379,0.971780,-0.106872,-0.588148,0.439797,...,0.642316,-0.379417,-0.329782,-0.247239,0.373971,0.477325,-0.109784,-0.065744,2.90,0
58175,48267.0,1.185204,-0.517504,0.654845,-0.368022,-0.501969,0.714035,-0.868938,0.227701,0.909670,...,0.169725,0.497429,-0.200102,-1.224064,0.180369,1.254181,-0.020974,0.014040,57.99,0
166427,118075.0,-1.360715,-0.647177,1.172116,-1.342785,-0.086114,1.779068,-0.851945,0.223846,-1.886310,...,-0.323363,0.584097,0.109278,-1.606874,0.246134,0.516441,0.385227,-0.021122,20.80,0
223139,143260.0,1.301528,-1.116845,-0.723052,2.216532,-0.644699,-0.290836,0.201353,-0.223918,-0.481558,...,0.141201,-0.329031,0.034487,0.102931,-0.825643,2.088910,-0.241864,-0.009313,361.91,0
272415,165077.0,-0.361703,1.089953,-0.799029,1.579390,3.714334,4.119036,0.667750,0.637522,-1.611884,...,0.283546,0.720019,-0.079462,0.679915,-0.123918,0.016130,-0.525761,-0.154188,4.67,0

In [101]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [102]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98093.963415,0.031935,-0.114772,-0.060736,-0.031998,-0.043981,0.012804,-0.068423,0.015304,-0.097186,...,-0.041386,-0.000989,-0.037737,0.041210,-0.031925,-0.040312,0.023480,-0.016074,-0.031429,89.466992
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [103]:
#splitting the data into feature(all time , v1, v2 etc) and target (class0 or 1)

In [104]:
X=new_dataset.drop(columns='Class', axis=1)  #removing class column only v1,v2...amount will be )

In [105]:
Y=new_dataset['Class']   #here in y only class will restore

In [106]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
159332  112407.0 -1.285582  1.018118  1.478848 -1.048170  0.730379  0.971780
58175    48267.0  1.185204 -0.517504  0.654845 -0.368022 -0.501969  0.714035
166427  118075.0 -1.360715 -0.647177  1.172116 -1.342785 -0.086114  1.779068
223139  143260.0  1.301528 -1.116845 -0.723052  2.216532 -0.644699 -0.290836
272415  165077.0 -0.361703  1.089953 -0.799029  1.579390  3.714334  4.119036
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
159332 -0.106872 -0.588148  0.439797  ...  0.041369  0.642316 -0.379417
58175  -0.868938  0.227701  0.909670  ...  0.116368  0.169725  0.497429
166427 -0.851945  0.223846 -1.886310  ...  0.026157 -0.323363  0.584097
223139  0.201353 -0.223918 -0.481558  ...  0.591300  0.141201 -0.329031
272415  0.667750  0.637522 -1.611884  ... -0.196916  0.283546  0.720019
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
159332 -0.329782 -0.247239  0.373971  0.477325 -0.109784 -0.065744    2.90
58175  -0.200102 -1.224064  0.180369  1.254181 -0.020974  0.014040   57.99
166427  0.109278 -1.606874  0.246134  0.516441  0.385227 -0.021122   20.80
223139  0.034487  0.102931 -0.825643  2.088910 -0.241864 -0.009313  361.91
272415 -0.079462  0.679915 -0.123918  0.016130 -0.525761 -0.154188    4.67
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [107]:
print(Y)

159332    0
58175     0
166427    0
223139    0
272415    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [108]:
#now splittin data into training and testing data

In [109]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2) #stratify helps to keep equal amount of data of y like that 0 and 1 in both train and test

In [111]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [ ]:
#Model training here will use linear regression as we use in mostly When there are only two categories

In [112]:
model=LogisticRegression()

In [116]:
#training the logisticregression model with traing data
model.fit(X_train, Y_train)

LogisticRegression()

In [120]:
#MODEL Accuracy accuracy score

In [122]:
#first finding out accuracy score on training data 
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [124]:
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.940279542566709

In [125]:
#now accuracy on test data

In [131]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [132]:
print('Accuracy on test data:',test_data_accuracy)

Accuracy on test data: 0.9187817258883249